* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;

    & .card-container {
        flex: 1;
        background-color: aqua;
        display: grid;
        padding: 50px;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    }

    & dialog {
        justify-self: center;
    }
}

.form-container {
    flex: 1;
    width: 30vw;
    height: 30vh;
}

.card {
    background-color: white;
}